h1.surround
    span.title(translate="ISSUES.FILTERS.TITLE")

form.surround
    fieldset
        input(
            type="text",
            placeholder="{{'ISSUES.FILTERS.INPUT_SEARCH_PLACEHOLDER' | translate}}",
            ng-model="filtersQ"
        )
        tg-svg.search-action(
            svg-icon="icon-search",
            title="{{'ISSUES.FILTERS.TITLE_ACTION_SEARCH' | translate}}"
        )

.filters-step-cat
    .filters-applied.surround
        .single-filter.ng-animate-disabled(ng-repeat="it in vm.filtersSelected")
            span.name(ng-attr-style="{{it.filter.color ? 'border-left: 3px solid ' + it.filter.color: ''}}") {{it.filter.name}}
            a.remove-filter(
               ng-click="vm.unselectFilter(it)"
               href=""
           )
                tg-svg(svg-icon="icon-close")

        a.button.button-gray.save-filters.ng-animate-disabled(
            ng-click="vm.customFilterForm = true"
            ng-if="vm.filtersSelected.length && !vm.customFilterForm"
            href="",
            title="{{'COMMON.SAVE' | translate}}",
            translate="ISSUES.FILTERS.ACTION_SAVE_CUSTOM_FILTER"
        )

        form(
            ng-if="vm.customFilterForm"
            ng-submit="vm.saveCustomFilter()"
        )
            input.my-filter-name(
                ng-model="vm.customFilterName"
                type="text"
                placeholder="{{'ISSUES.PLACEHOLDER_FILTER_NAME' | translate}}"
            )

    .filters-cats
        ul
            li(
                ng-class="{selected: vm.isOpen(filter.dataType)}"
                ng-repeat="filter in ::vm.filters track by filter.dataType"
            )
                a.filters-cat-single(
                    ng-class="{selected: vm.isOpen(filter.dataType)}"
                    ng-click="vm.toggleFilterCategory(filter.dataType)"
                    href=""
                    title="{{::filter.title}}"
                )
                    span.title {{::filter.title}}
                    tg-svg.ng-animate-disabled(
                        ng-if="!vm.isOpen(filter.dataType)"
                        svg-icon="icon-arrow-right"
                    )
                    tg-svg.ng-animate-disabled(
                        ng-if="vm.isOpen(filter.dataType)"
                        svg-icon="icon-arrow-down"
                    )

                .filter-list(
                    ng-if="vm.isOpen(filter.dataType)",
                    tg-filter-slide-down
                )
                    .single-filter.ng-animate-disabled(
                        ng-repeat="it in filter.content"
                        ng-if="!vm.isFilterSelected(filter, it)"
                        ng-click="vm.selectFilter(filter, it)"
                    )
                        span.name(ng-attr-style="{{it.color ? 'border-left: 3px solid ' + it.color: ''}}") {{it.name}}
                        span.number {{it.count}}

            li.custom-filters(ng-class="{selected: vm.isOpen('custom-filter')}")
                a.filters-cat-single(
                    ng-class="{selected: vm.isOpen('custom-filter')}"
                    ng-click="vm.toggleFilterCategory('custom-filter')"
                    href=""
                    title="{{'ISSUES.FILTERS.CATEGORIES.CUSTOM_FILTERS' | translate}}"
                )
                    span.title(translate="ISSUES.FILTERS.CATEGORIES.CUSTOM_FILTERS")
                    tg-svg.ng-animate-disabled(
                        ng-if="!vm.isOpen('custom-filter')"
                        svg-icon="icon-arrow-right"
                    )
                    tg-svg.ng-animate-disabled(
                        ng-if="vm.isOpen('custom-filter')"
                        svg-icon="icon-arrow-down"
                    )
