h2.card-title(ng-if="vm.zoom >= 2")
    a(
        href=""
        tg-nav="{{vm.getNavKey()}}:project=vm.project.slug,ref=vm.item.getIn(['model', 'ref'])",
        tg-nav-get-params="{\"kanban-status\": {{vm.item.getIn(['model', 'status'])}}}"
        title="#{{ ::vm.item.getIn(['model', 'ref']) }} {{ vm.item.getIn(['model', 'subject'])}}"
    ) 
        span {{::"#" + vm.item.getIn(['model', 'ref'])}}
        span.e2e-title {{vm.item.getIn(['model', 'subject'])}}
